body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Audiowide', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: hsl(0, 0%, 30%);
}

.filter-container {
    margin-top: 25px;
    background-color: #bfe8ff;
    border: 4px solid #00b1ff;
}

.filter-container .form-control:focus {
  outline: none;
  box-shadow: none;
}

.box-element {
    border: solid black;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.thumbnail {
    width: 100%;
    height: 200px;
    border: solid #8e8d8d;
    margin-bottom: 15px;
}

.product {
    border-radius: 0 0 4px 4px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-header h6 {
  font-size: 1.1rem;
}

.product hr {
    opacity: 80%;
    border: 0;
    border-top: 3px solid #003347;
}

.product .update-cart {
    background-color: #5e5e5e;
    color: #ffffff;
    font-weight: bold;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
}

.product .update-cart:hover {
    background-color: #6c6b6b;
    cursor: pointer;
}

.bg-dark {
    background-color: #1ac6ff !important;
}

.logo-navbar {
    height: 35px;
    width: auto;
    vertical-align: middle;
    margin-right: 8px;
}

#cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
    position: relative;
    left: -8px;
}

#cart-total {
    position: absolute;
    right: 7px;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: red;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 14px;
}

.btn-login, .btn-logout {
    border-radius: 25px;
    background-color: #01649b;
    border-color: #01649b;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.btn-login:hover, .btn-logout:hover {
    background-color: #0090df;
    border-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

.navbar-text {
    color: white;
    text-shadow: 0 0 5px #000;
    font-weight: 700;
}

/* Responsive Design */
.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
    margin-top: 10px;
}

.btn {
    border-radius: 0;
}

.row-image {
    width: 100px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row {
    display: flex;
    align-items: stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;


}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}


.hidden {
    display: none !important;
}