{% extends 'bottega_retrogaming/main.html' %}
{% load static %}
{% block content %}
    <div class="row checkout-black-style">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <label>
                                <input required class="form-control" type="text" name="name" placeholder="Nome..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input required class="form-control" type="email" name="email" placeholder="Email..">
                            </label>
                        </div>
                        {% if not user.is_authenticated %}
                            <div class="form-field">
                                <label>
                                    <input required class="form-control" type="password" name="password"
                                           placeholder="Password..">
                                </label>
                            </div>
                            <div class="form-field">
                                <label>
                                    <input required class="form-control" type="password" name="password-confirm"
                                           placeholder="Conferma Password..">
                                </label>
                            </div>
                        {% endif %}
                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p>Informazioni per la Spedizione:</p>
                        <hr>
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="address" placeholder="Indirizzo..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="city" placeholder="Città..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="state" placeholder="Stato..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="zipcode" placeholder="CAP..">
                            </label>
                        </div>
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-proceed" type="submit" value="Continua">
                </form>
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <button id="make-payment" class="btn btn-proceed">Acquista</button>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Torna al Carrello</a>
                <hr>
                <h3>Riepilogo Ordine</h3>
                <hr>
                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{ item.product.imageUrl }}"
                                                 alt="checkout_prod_image"></div>
                        <div style="flex:2"><p>{{ item.product.name }}</p></div>
                        <div style="flex:1"><p>${{ item.product.price|floatformat:2 }}</p></div>
                        <div style="flex:1"><p>x{{ item.quantity }}</p></div>
                    </div>
                {% endfor %}
                <h5>Oggetti: {{ order.get_cart_items }}</h5>
                <h5>Totale: ${{ order.get_cart_total|floatformat:2 }}</h5>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const shipping = '{{order.shipping}}'
        const total = '{{order.get_cart_total}}'
        let cartItems = {{order.get_cart_items}}
        const form = document.getElementById('form');

        if (shipping === 'False') {
            document.getElementById('shipping-info').innerHTML = ''
        }

        if (user !== 'AnonymousUser') {
            document.getElementById('user-info').innerHTML = ''
        }

        if (shipping === 'False' && user !== 'AnonymousUser') {
            // hide address, name and email. Show directly payment info
            document.getElementById('form-wrapper').classList.add('hidden');
            document.getElementById('payment-info').classList.remove('hidden');
        }

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            console.log('Form submitted');
            document.getElementById('form-button').classList.add('hidden');
            document.getElementById('payment-info').classList.remove('hidden');
        })

        document.getElementById('make-payment').addEventListener('click', function () {
            submitFormData();
        });


        function submitFormData() {
            console.log('Payment button clicked')
            if (cartItems === 0) {
                alert('Impossibile completare l\'ordine, il carrello è vuoto!');
                return;
            }

            const userFormData = {
                'name': null,
                'email': null,
                'password': null,
                'password-confirm': null,
                'total': total,
            };

            const shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
            };

            if (user === 'AnonymousUser') {
                userFormData.name = form.name.value
                userFormData.email = form.email.value
                userFormData.password = form.password.value
                userFormData['password-confirm'] = form['password-confirm'].value
            }


            if (shipping === 'True') {
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
            }

            const url = "/process_order/";
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    alert('Transazione completata');

                    cart = {}
                    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

                    window.location.href = "{% url 'store' %}"
                })
        }
    </script>
{% endblock content %}