{% extends 'bottega_retrogaming/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{ product.imageUrl }}" alt="image_cell">
                <div class="box-element product">
                    <div class="product-header">
                        <h6><strong>{{ product.name }}</strong></h6>
                        <h4 class="mb-0"><strong>${{ product.price|floatformat:2 }}</strong></h4>
                    </div>
                    <hr>
                    <button
                            data-product="{{ product.id }}"
                            data-action="add"
                            class="btn btn-outline-secondary add-btn update-cart w-100">Add to Cart
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}