{% extends "bottega_retrogaming/main.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="login-block">
                <h2 class="mt-4">Login</h2>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Accedi</button>
                </form>
                <p class="mt-3">Non hai un account? <a href="#" id="show-register-form">Registrati</a>.</p>
            </div>

            <div id="register-form" style="display: none;">
                <h2 class="mt-4">Registrati</h2>
                <hr>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="password_confirm" class="form-label">Conferma Password</label>
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrati</button>
                </form>
                <p class="mt-3">Hai già un account? <a href="#" id="show-login-form">Torna al Login</a>.</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('show-register-form').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('login-block').style.display = 'none';
        document.getElementById('register-form').style.display = 'block';
    });

    document.getElementById('show-login-form').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('register-form').style.display = 'none';
        document.getElementById('login-block').style.display = 'block';
    });
</script>
{% endblock content %}